<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>curd</title>
</head>
<body>
  <div>
    <h3>
      添加学生
    </h3>
    <form action="/students/add" method="post">
      <label for="name">name</label>
      <input id="name" type="text" name="name" />
      <label for="age">age</label>
      <input id="age" type="number" name="age" />
      <button type="submit">保存</button>
    </form>
  </div>
</body>
</html>